extends layout

block content
  h1= title
  form(method="POST", action="/login",autocomplete='on')
    .form-group
      label(for="Username") Username
      input#USERNAME.form-control( name="USERNAME", required, autofocus="autofocus", placeholder="Username")
    .form-group
      label(for="Password") Password
      input#PASSWORD.form-control( name="PASSWORD", required, autofocus="autofocus", placeholder="Enter your password")
    .form-group
        button.btn.btn-primary(type="submit") Login

  form(method="GET", action="/users/registerUser",autocomplete='on')
    .form-group
        button.btn.btn-primary(type="submit") Register

  form(method="GET", action="/",autocomplete='on')
    .form-group
        button.btn.btn-default(type="submit") Cancel
