extends layout

block content
  head
    meta(name='viewport', content='initial-scale=1.0')
    meta(charset='utf-8')
    style.
      #map {
      top: 50%;
      left: 50%;
      height: 50%;
      width: 50%;
      transform: translate(-50%, -50%);
      }
  #map
  script.
    var map;
    function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 44.6563, lng: -123.319},
    zoom: 8
    });
    }
  script.
    var apiKey = "#{apiKey}";
    var script = document.createElement('script');
    script.src = "https://maps.googleapis.com/maps/api/js?key=" + apiKey +  "&callback=initMap"
    document.body.appendChild(script);
