extends layout

block content
  h1= title
  p
    a(href='/') Go Home
  p
    a(href='/editUser') Change account information
  p
    a(href='/users/registerStore') Register a new store
  p
    a(href='/users/order') Place an order
